
.main-container {
  width: 80%;
  height: 600px;
/*   background-color: #ccc; */
  
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
  
  margin: auto;
  margin-top: 80px;
  
  padding: 50px;
  border-radius: 10px;
    
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.22);
}

body {
  background-color: #999;
}


.search-box input {
  width: 80%;
  text-transform: capitalize;
}
.search-box button {
  width: 55px;
  height: 55px;
  
  border: none;
  margin: auto;
  background-color: #999;
  border-radius: 50%;
  transition: 0.3s;
}
.search-box {
  display: flex;
}

.search-box button:hover {
  background-color: #000;
  color: #fff;
  
}


.weather-status {
  justify-content: center;
  display: flex;
}
#city {
  font-size: 48px;
  text-align: center;
  text-transform: capitalize;
}
.other-info {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.other-info .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info img {
  width: 18%;
}

#temperature {
  text-align: center;
  font-size: 40px;
}